<!DOCTYPE html>
<html lang="en">
<head>
  include includes/meta.pug
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/about.css">
  <link rel="stylesheet" href="css/slider.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <title>Franklin Peñaranda | coffemanfp</title>
</head>
<body>
  include includes/header.pug

  <main class="main">
    <section class="bio">
      <p class="bio__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam impedit dolorem voluptatibus, error consectetur</p>
      <h2 class="bio__title">Franklin Peñaranda</h2>
    </section>
    <section class="photo">
      <img class="photo__image" src="assets/images/me.png" alt="photo">
    </section>
    <section class="hobbies">
      <p class="hobbies__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam impedit dolorem voluptatibus, error consectetur</p>
      <h2 class="hobbies__title">Hobbies</h2>
    </section>
    <section class="messages">
      <p class="messages__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam impedit dolorem voluptatibus, error consectetur</p>
      <h2 class="messages__title">Vision</h2>
    </section>
  </main>

  include includes/footer.pug
</body>
</html>