.header {
  border-radius: 5px;
  background-color: var(--main-color);
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .nav__list {
  display: flex;
  gap: 50px;
  justify-content: center;
}