.main {
  display: grid;
  flex-grow: 1;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(14, 1fr);

  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.intro {
  position: relative;
  display: flex;
  align-items: end;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  grid-area: 1 / 1 / 6 / 7;
  max-width: 800px;

  .intro__text {
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 13px;

    span {
      font-weight: normal;
      font-style: italic;
    }
  }

  .intro__image {
    position: absolute;
    right: 20px;
    top: 20px;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.photo {
  grid-area: 1 / 7 / 6 / 10;

  .photo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}


.work {
  grid-area: 1 / 10 / 8 / 16;
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: var(--main-color);

  .work__title {
    font-size: 25px;
  }


  .work__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 300;

    img {
      margin-bottom: 5px;
    }
  }

  .work__image {
    width: 80%;
    display: block;
    height: 250px;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
  }
}

.slide__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.about {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  grid-area: 6 / 1 / 9 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .about__title {
    font-size: 2.4rem;
  }
}

.contact {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  grid-area: 6 / 6 / 9 / 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .contact__link {
    position: relative;
    display: block;

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
    }
  }

  .contact__title {
    font-size: 2.4rem;
  }
}

.socials {
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  grid-area: 8 / 10 / 9 / 16;
  display: flex;
  align-items: center;

  .socials__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .socials__item {
    text-transform: uppercase;
    font-weight: 300;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1025px) {
  .main {
    height: calc(100vh - (86px + 25px) - 48px);
    display: grid;
    flex-grow: 1;
    grid-template-rows: repeat(8, 1fr);
    /* grid-auto-columns: repeat(12, 1fr); */

    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .intro {
    grid-area: 1 / 1 / 6 / 7;
  }

  .photo {
    grid-area: 1 / 7 / 6 / 10;
  }

  .work {
    grid-area: 1 / 10 / 8 / 16;
  }

  .about {
    grid-area: 6 / 1 / 9 / 6;
  }

  .contact {
    grid-area: 6 / 6 / 9 / 10;
  }

  .socials {
    grid-area: 8 / 10 / 9 / 16;
  }
}

@media 
(max-width: 769px) and (max-width: 1024px) {
  .main {
    height: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .intro {
    grid-area: 1 / 1 / 4 / 5;

    .intro__text {
      font-size: 4rem;
    }
  }

  .photo {
    grid-area: 1 / 5 / 4 / 7;
  }

  .work {
    grid-area: 4 / 1 / 6 / 7;
  }

  .about {
    grid-area: 6 / 1 / 7 / 4;
  }

  .contact {
    grid-area: 6 / 4 / 7 / 7;
  }

  .socials {
    grid-area: 7 / 1 / 7 / 7;
  }
}


@media (min-height: 780px), (max-width: 769px) {
  :root {
    --font-size: 2rem;
  }

  .intro {
    .intro__text {
      font-size: var(--font-size);
    }
  }

  .about {
    .about__title {
      font-size: var(--font-size);
    }
  }

  .contact {
    .contact__title {
      font-size: var(--font-size);
    }
  }
}

@media (min-height: 900px) {
  :root {
    --font-size: 3rem;
  }

  .intro {
    .intro__text {
      font-size: var(--font-size);
    }
  }

  .about {
    .about__title {
      font-size: var(--font-size);
    }
  }

  .contact {
    .contact__title {
      font-size: var(--font-size);
    }
  }
}