:root {
  --main-color: #E8BF9C;
  --secondary-color: #b1784f;
  --background-color: #FFF4EA;
  --text-color: #222;

  --main-font: 'Poppins', sans-serif;
  
  --border-radius: 20px;
  --padding: 24px;
  --gap: 25px;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--text-color);
  padding: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a[href] {
  color: inherit;
  text-decoration: none;

  &:hover {
      text-decoration: underline;
  }
}

hr {
  border: 2px solid var(--secondary-color)
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}