html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f3ebff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

a {
    color: inherit;
}

.resume {
    background-color: white;
    border-radius: 10px;
    margin: 7% auto 7% auto;
    box-shadow: rgba(27, 0, 70, 0.25) 0px 14px 28px, rgba(47, 0, 94, 0.22) 0px 10px 10px;
    max-width: 1000px;
}

.resume__content {
    display: flex;
    justify-content: center;
    padding: 0 20px 200px 20px;
}

.main-info {
    padding-top: 7%;
    margin-bottom: 40px;
}

.main-info__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 150px;
    height: 196px;
    border-radius: 5px;
}

.main-info__name {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.main-info__contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info__info {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
}

.main-info__contact-info p {
    display: inline;
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: rgb(65, 65, 65);
}

.main-info__icon {
    height: 12px;
    width: 12px;
    margin-right: 3px;
}

.more-info {
    display: inline;
    width: 30%;
    min-width: 300px;
    text-align: center;
}

.more-info__title {
    position: relative;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.more-info__title::after,
.more-info__title::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 2px;
    border: 1px solid black;
    border-radius: 50%;
}

.more-info__title::after {
    margin-top: 5px;
    margin-left: 5px;
}

.more-info__title::before {
    margin-top: 5px;
    margin-left: -11px;
}

.more-info__title,
.more-info__link,
.more-info__text {
    margin-bottom: 10px;
}

.more-info__title,
.more-info__link,
.more-info__text {
    display: block;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.main {
    display: inline;
    padding-right: 100px;
}

.section__icon,
.section__title {
    display: inline;
}

.section__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.section__description {
    font-size: 1.1rem;
}

.section__items {
    border-left: 1px solid black;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Roboto, sans-serif;
    font-size: .85em;
    font-weight: lighter;
}

.section-item {
    position: relative;
    margin-bottom: 25px;
}

.section-item__title {
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 6px;
}

.section-item__details {
    color: #7d8184;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.section-item__description {
    font-size: 1rem;
}

.section-item:not(:first-child)::before {
    top: 5px;
}

.section-item::before {
    content: '';
    position: absolute;
    margin-left: -23px;
    height: 3px;
    width: 3px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.section__icon {
    width: 17px;
    height: 17px;
    margin-left: -8px;
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .resume__content {
        display: block;
        justify-content: center;
        padding: 0 20px 50px 20px;
    }

    .resume__content>* {
        display: block;
        margin: 0 auto 50px auto;
        padding: 0 20px 0 20px;
    }
}